:root {
    font-family: Arial, Helvetica, sans-serif;
    --background: #ffffff;
    --text: #000000;
    --accent: rgb(255, 0, 144);
}

@font-face {
    font-family: positions;
    src: url(fonts/PositionsByArixbored-Regular\ .otf);
}

html,
body {
    height: 100dvh;
    scrollbar-width: none;
    padding-bottom: 1rem;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    max-width: 50rem;
    justify-self: center;
}

body,
button {
    background-color: var(--background);
    color: var(--text);
    transition-duration: .2s;
}

button {
    cursor: pointer;
}

#theme-switch {
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    transition-duration: .2s;

}

#theme-switch:hover {
    text-decoration: underline;
}


.dark {
    --background: #000000;
    --text: #ffffff;
}


header {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* border: solid; */
    margin: 0 2rem 0rem;
    padding: 1rem 0 0 0;
    font-family: positions;
    font-size: 2rem;
    letter-spacing: .5rem;
    line-height: 0%;
}

.banner {
    margin: auto;
    /* something here to make the theme button stick down? */
}

.tagline {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    letter-spacing: 0;
    font-style: italic;
}

#theme-switch {
    position: fixed;
    top: 0;
    right: 0;
    margin: 1rem;
}

nav {
    border-bottom: solid 1px;
    padding: 0;
    line-height: 0%;
    margin: 1rem 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tab {
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.active {
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}

.tab:hover {
    text-decoration: underline;
    background-color: #000000;
    color: var(--text);
}

.page {
    /* border: solid; */
    margin: -1rem 2rem;
    padding: 1rem;
    /* max-height: 26rem;
    overflow-x: auto; */
}

.title {
    font-family: positions;
    font-size: 2rem;
    line-height: 0;
    letter-spacing: .5rem;
}

.pic {
    display: flex;
    float: right;
    width: 9rem;
    height: 10rem;
    margin: -1rem 1rem;
}

.keith-icon {
    object-fit: cover;
}

.examples {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.example-pic {
    border: solid;
    width: 8rem;
    height: 10rem;
    margin: 1rem;
}

/*parent */
.contact-form {
    display: block;
    /* flex-direction: row; */
}

/* 1st child */
.form-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

main {
    flex: 1;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}


#message-form {
    display: flex;
    flex-direction: column;
}

input,
textarea {
    font-family: Arial, Helvetica, sans-serif;
    border: solid 1px;
    border-radius: 4px;
    color: var(--text);
    background-color: var(--background);
    margin: 0rem 1rem 1rem 0rem;
    padding: .3rem
}

input[type=submit] {
    cursor: pointer;
    transition-duration: .2s;
}

input[type=submit]:hover {
    color: var(--background);
    background-color: var(--text);
    border: solid var(--text);
}

input[type=submit]:active {
    scale: 92%
}

label {
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    /* border: solid; */
    padding: 0;
    /* margin: 2rem; */
    text-align: center;
    justify-content: center;
    font-size: .9rem;
}

a {
    color: var(--text);
}

.hidden {
    display: none;
}